<nav>
    <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSg
    tKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEh
    HiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIANEBKgMB
    IgACEQEDEQH/xAAaAAEAAgMBAAAAAAAAAAAAAAAABAUCAwYB/9oACAEBAAAAAOlAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAEGkT7XaAAAABpg69kqFT3NsAAAAxy1U2+x3Yw9EqhmXoAAAMKixpr/MEDZz1xaAAABU2fPz8rIC
    v2c11+QAAB5VZ52FHa7weQaa0tAAACKqOhQo+FWeXVnCiReiAAAK2fRdA8ob2KV1vuh6qfqQAACssKLoCh
    vOfNPUIeqn6kAAAhqu9zVcD03XiDEidIAAAY1EyLboMCaiTZ2EWjsrcAAAUlxRXO+IloWyTWb+Y6/YA
    AANVLeUNvKAw5S1uQAAAQK6+qtUiXJNPNbulAAAAQqS1sdTfqq6azvvQAAADCprGenCfcSwAAAAGO
    rLaAAAAAAAAAAAAAAAAAAAAAAAAAAAA9A8D0ADwHoH/8QAGAEBAAMBAAAAAAAAAAAAAAAAAAECAwT/
    2gAKAgIQAxAAAAAAAAAAAAAAAAAAAAK7JtgAAAAAEXp1X5ZoAAARcTOYGfdpwgAAEazlGsI1Lc8aotiAABG
    s5Fd4vF9OOL12vygAAV1tkU6wvyV3LYAAARdM5xaaxaa5d+vAAAAFdy2BF6dl+ScwAAAIvXdKL8yAAAAAAAA
    AAAAAAAAAAAAAP//EAEMQAAIBAgIGBQcICAcAAAAAAAECAwAEBRESISIxUVIQE0BBcRQVMlNikaIgIzM0
    YXKBkiQwQlBUcJOxY2SCg6HB4f/aAAgBAQABPwD+aGIQyzQBYhmdMGjbX8X7Eo8DS397EcjK3g9RYuN00X4rU
    U0Uy6Ubhh+4Jbm3h+klUHhvNPi9qu5XNed0/h3pcXtf21daEtndjLSjf2TU+ExtrhbQPA0y3FpL3o4q0xISEJN
    krc3ay6KyqWALbhxy6Jp4rdNOQ5DuHeaa6vb5ikClEqHCYhrmcufcKS3gi9CJF8B0MiNqZQfEVLh1rJuTQPFa/Tr
    P/Hh+IUrW19DzDh3iruze2bjGdzVh98QRDKfuN2mR1jRnY5KozNWqPezm7l1Ip2BVzcJbRabeCrxqCCbEJTNMx
    EdRokaBEUKo3AfLntGD9fbbEw9z1DLFeQsGX2XQ9xq7tmtpSh1qdamsNuzMnVOdtB7x2i/YzzQ2aeL0qpFGANSIvu
    ArbxO84J/ZKXErOMBFSQBfZoYpakgZSfqLpDbyC8j8Jl5lq7gW7t9nWctJDUMrQSpIu9TSOrorqcwwBHZiQASdwr
    DgZpLi6be7ZCsVm0IBH3yf2FYZB1VsHPpSbXRjEWuKXiCtW0nWwRScVHyyAQQRmCMjVlnEZrYnXC2z9w1iMPVXT8H2x
    WFS6cBj70bs16/V2c7ezl76sU0LSAezn76xLOa+EP3EoAAADcOjEI+stJeK7dYTJpW7JyPWJ9eGieJpMiCCFrTveaf
    4q073mn+Kusvuaf4qMt4BmXnHiWrC+saFpHdm0m7z0SbF/bt62NkP4VjCbEL8CRWEvlcsnMnZsW1Wfi4pBkiDgorfjH+/0kAgg7iMqw7OC9lgPAj8tO6xqXc5KN5ry+y9eK8vsvXivL7L14rE7yKWJI4X0tebVbxdTBFHyqOi71S2Lf5isUGdmfsdaw/Vewdmxb6n4OKjOcaHiop/m8Y1+v8AkXn6PiMM3c2Rp1Do6HcwIrzRc88deaLnnjrzTc88dRWpF8kDEHJ9rLputc9gvGfP8orFDlaeLrWH/XYPHs1+mnZzfYAasH07SE8Bl7qxVDHcRyjvH/K1G4kjR13MoPTi0Wnbq/I1DFrlQBlFXni54RV54ueEVed7nlirCwZZ57hun6TEfsgi+J6xh9iGP7S1YUmd1nyoezMAysp3EEGsLcxvPavvU1fwdfbtkNpNoVhVxpRmA701r0380UcBSQE9YCABVlbJLGxjl79YeNWryJvWRf0EryJvWRf0Eq6RLUKWdCW3AQpVg6SQErzHPZC9EsqQxvK52VGZqyjdYjJJ9JKxdqxCbrrp+C7ArCIsopJOc9nvw1tdRXaVHIsqK6HMMMxV5C9ncLPDqUmre4S4
    jDp+I4HovLRbpFBYqy7jVparaxlQSxJzJ6byzW6C7Wiy1a2y2sWgCSScyegkX8+Q+rQt+d6vrkW8B521LSI0jqi+kxyFRRrFGka7lAHZ5olnieNtxFWc7WczW8+pc6dEkRkcAqwqSGfDZetjOcfH/pqtryG5Go5P3of1EjxwozuclFXVw9zKXbwUcBWF2uQ8ocfc7TfWYuUzXVIN1Wl89ueonByHvSgUkXMZMpHiCKnwtSdOBtA8tC7xC11TxF14mkxa2b0g61Fd287aEcmbZfImnigTSkbKru7kun4INy1Y2RuCJHHzQ+Kh2q7so7ocsg3NQe7w+TL/ANVqgxSCTVJnGaVlcZowYfYc6e3gf04UPiKjtbeJtOOJVOXRJNDFrkkVanxZd0Cf6mqSWSZ9ORizGrTDGfJ5xkOSgAoAAyA7Y8aSKVdQwPcamwkHXC+XstT2l3AczE/itC+u01C4evOV7/EGnvLh/SuH/NSRyynYjZvAVFhVw+uQhBVvZQW+tFzbmP7hZEb0lB8RXktt6iP8opYIV9GJB4AfzR//xAAnEQABAwIFAwUBAAAAAAAAAAABAAIREDESITBBUSJCYSAyQFBSYP/aAAgBAgEBPwD68mN
    kHj4ZAKgttZAyNQmAgIUjn0+13jU3FHCQVPTKx+Fj8IGQnjJNtp9xq3cKX8Il1iKGxTLafcKmcWRUO5QmczR9k22mRIQM0gTNIEzQ9TtUjcIOFSQESXZBARrEArBwVhP6QYP4L//EADARAAIBAwEFBgQHAAAAAAAAAAECAwAREgQQITAxMhMUIjNRYUFSU3IgJEBQYGOx/9oACAEDAQE/AP2+OJXW/aAH0ptNIOVjRBG4/okkdOlqV49QMXFmqSNo2seIi5Nb4fGnfM+w3AV2UnyH8I/MRWPUvEG6Jj6m2yFsZFNGO8xS9t9d2/sWu6n6i064sVve1aZrSj3rULjK3DPlJ9x2zWYo/wAyi9dnpvqmkSBTkrk4i9E3JNRean3CtX5g+3hr4oWHxU32xlex8a3AO6s9P8gp2XsiUS1919mmXKUH0rUNlKfbhxvg1zy5GpEwb2PI7M2xwv4dmbY4X8OxQNPESeo1z4kci2wk6f8AKeBhvXxL6jakbvyWlSPTjJzdqlkaRrnjJI6dJrvN+uMGu8RDlFTapz0gCiSxuTc/wH//2Q==" alt="">
    <ul>
     <li><button (click)="Loginclick()">Login</button></li>
    <li><button (click)="Dashbordclick()">Dashbord</button></li>
    </ul>
</nav>
<router-outlet></router-outlet>
      

